<!-- Include Header -->
<%-include('include/_header')%> 
<!-- END Include Header -->

    <!-- Main site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left">All Users</i></a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create a new account.</span>
            </div>

            <!-- add user form -->
            <%-include('include/_form')%>  
            <!-- END Form handling -->
        </div>
    </main>
    <!-- END Main site -->



<!-- Include Footer -->
<%-include('include/_footer')%> 
<!-- END Include Footer --> 